<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>

<h1><strong>Velkommen til dine lokale nyheder!</strong></h1>

<form (ngSubmit)="onSubmit()">
  <p><strong>Skriv brugernavn og kode her for at logge ind</strong></p>
  <input type="username" [(ngModel)]="username" name="username" placeholder="user" required>
  <input type="password" [(ngModel)]="password" name="password" placeholder="pass" required>
  <button type="submit">Login</button>
</form>

<form (ngSubmit)="onSubmitUser()">
  <p>Mangler du en bruger?<br><strong>Opret dig her</strong></p>
  <input type="username" name="username" placeholder="user" required>
  <input type="password" name="password" placeholder="pass" required>
  <button type="submit">Opret bruger</button>
</form>

</body>
</html>
